#logout_button{
	max-width: 100px;
	position: relative;
}

#settings_button{
	position: relative;
}

#messenger_search{
	max-width: 300px; 
	margin-left: 50%; 
	margin-right: 50%; 
	margin: auto;
}

#search_user_container{
	position: relative;
	top: 10px;
}

#search_results{
	position: relative;
	left: 13px;
}

.form-control{
	max-width: 200px;
}

body {
	min-width: 600px; 
	width: auto !important;
}

#friends_table{
	max-width: 153px;
	position: relative;
}

#users_table{
	position: relative;
	max-width: 153px;
}

#users_table_input{
	border: none;
	border-color: transparent;
	font-weight: normal;
}

.default{
   	opacity: 1;
}
.fade{
    -webkit-transition: opacity 30s; /* For Safari 3.1 to 6.0 */
    transition: opacity 30s;
    opacity: 0;
}

#incoming_friend_requests_table{
	position: relative;
	max-width: 153px;
	top: 5px;
}

.right_panel{
	position: absolute;
	right: 6px;
	top: 10px;
}