#logout_button{
	margin-left: 2px; 
	padding: 12px 46px;
}

#messenger_search{
	max-width: 300px; 
	margin-left: 50%; 
	margin-right: 50%; 
	margin: auto;
}

body {
	min-width: 600px; 
	width: auto !important;
}