#logout_button{
	max-width: 100px;
	position: absolute;
	top: 3px;
	right: 3px;
}

#messenger_search{
	max-width: 300px; 
	margin-left: 50%; 
	margin-right: 50%; 
	margin: auto;
}

#search_user_container{
	position: relative;
	left: 15%;
}

body {
	min-width: 600px; 
	width: auto !important;
}