#form_check_password{
	max-width: 300px; 
	margin-left: 50%; 
	margin-right: 50%; 
	margin:auto;
}

#username{
	margin-bottom: 4px;
}

#email{
	margin-bottom: 4px;
}

#inputPassword_first{
	margin-bottom: 4px;
}

#inputPassword_second{
	margin-bottom: 4px;
}

#register_button{
	max-width: 300px; 
	display: inline-block;
}