#signin_form{
	max-width: 300px; 
	margin-left: 50%;
	margin-right: 50%; 
	margin: auto;
}

#inputUsername{
	margin-bottom: 4px;
}

#signin_button{
	max-width: 148px; 
	width: 148px;
	display: inline-block;
}

#register_button{
	width: 148px;
	max-width: 148px; 
	display: inline-block;
}